# client/.env
REACT_APP_API_URL=http://localhost:5000

# server/.env
MONGO_URI=mongodb://mongo:27017/journal
REDIS_URL=redis://redis:6379

#change these:

ENCRYPTION_SECRET=supersecretkey

GROQ_API_KEY=yourAPIkey
